.house-card {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .house-image {
    height: 200px;
    object-fit: cover;
    width: 100%;
  }
  
  .ant-card-body {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    flex-grow: 1;
  }
  